<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.slowr.app">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />



    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.slowr.app.activity.BannerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.slowr.app.activity.AddBannerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name="com.slowr.app.activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.slowr.app.chat.ChatListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.slowr.app.chat.ProductChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.slowr.app.chat.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name="com.slowr.app.activity.UserProfileActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.slowr.app.activity.SplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.slowr.app.activity.PolicyActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.slowr.app.activity.TransactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.slowr.app.activity.UpgradeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="com.slowr.app.activity.ReportUsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name="com.slowr.app.activity.ImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.slowr.app.activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.slowr.app.activity.FavoriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.slowr.app.activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.slowr.app.activity.ChangPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.slowr.app.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="com.slowr.app.activity.PostViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.slowr.app.activity.MyPostViewActivity"
            android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="appslowr.page.link"
                    android:scheme="http" />
                <data
                    android:host="appslowr.page.link"
                    android:scheme="https" />

                <data
                    android:host="slowrapp.page.link"
                    android:scheme="https" />
                <data
                    android:host="slowrapp.page.link"
                    android:scheme="http" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.slowr.app.activity.HomeActivity"
            android:screenOrientation="portrait" >
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="aslowr.page.link"
                    android:scheme="http" />
                <data
                    android:host="slowr.page.link"
                    android:scheme="https" />

            </intent-filter>
        </activity>
        <activity
            android:name="com.slowr.app.activity.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.slowr.app.activity.DashBoardActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.slowr.app.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name="com.slowr.app.activity.AddPostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name="com.slowr.app.activity.VerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.slowr.app.activity.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.slowr.app.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <!-- For Google Plus Sign in -->
        <service
            android:name="com.slowr.app.firebase.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_slowr_logo" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_accent" /> <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- For Facebook Login -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- For Twitter Fabric SDK -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9952b4224ffea1b363591a8a4e77b91fdeb18259" /> <!-- Add your Payment API key here -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_xhQLKhh7mxkA2D" />
    </application>
<!--    Live  KeyId    : rzp_live_xhQLKhh7mxkA2D-->
<!--    Test KeyId    : rzp_test_hh28PqAbniWxep-->
</manifest>