<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.slowr.matisse">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity android:name="com.slowr.matisse.ui.MatisseActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.slowr.matisse.internal.ui.AlbumPreviewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.slowr.matisse.internal.ui.SelectedPreviewActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.slowr.app.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>